/.gitattributes text eol=lf
*.sh text eol=lf
*.php text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.conf text eol=lf
assets/* binary
assets/python-wheels/* binary
*.sh text eol=lf
*.pl text eol=lf
*.py text eol=lf
*.conf text eol=lf
